@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700;900&display=swap');


*,
*::after,
*::before{
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

#Leadly_logo img{
    width: 79px;
    height: 79px;
}

:root{
    --black: hsl(0, 2%, 8%);
}
h3{
    font-weight: 700;
    font-size: 0.875rem;
    color: #004AAD;
    padding-bottom: 8px;
}
h2{
    font-weight: 900;
    font-size: 2rem;
    padding-bottom: 20px;
    font-family: 'Poppins';
font-style: normal;
font-weight: 700;
font-size: 50px;
line-height: 84px;
text-align: left;
}


h4{
    font-weight: 700;
    font-size: 0.875rem;
}

html {
    font-family: Poppins;
    font-weight: 400;
    font-size: 16px;
    box-sizing: border-box;
    scroll-behavior: smooth;
    color: var(--black);
    

}

ul,
li{
    list-style: none;

}
a {
    color: var(--black);
    text-decoration: none;
}


/*HEADER SECTON*/

header{
    /* max-width: 1440px; */
    margin: 1.5rem auto;
    width: 90%;
}
.nav_items{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0  auto;


}

#nav_btn{
    display: flex;
    gap: 3rem;

    font-family: Poppins;
    font-size: 1rem;
    font-weight: 500;

}
.nav-links{
    display: flex;
    gap: 0.3rem;
}
nav a.active{
    color: #004AAD;
    font-weight: 600;
}
li a::after{
    content: '';
    display: block;
    height: 3px;
    width: 0;
    background: #004AAD;
    transition: .5s;
}
li a:hover::after{
    width: 100%;
}

button{
    color: #FFFFFF;
    background-color: #004AAD;
    padding: 0.75rem 2.5rem ;
    border: none;
    border-radius: 0.25rem;
    justify-content: center;
    align-items: center;

    font-weight: 700;
    font-size: 1rem;
    cursor: pointer;
}
button:hover{
    color: #004AAD;
    background-color: #FFFFFF;
    border: 1px solid #004AAD;
    /* box-shadow: inset 0 0 0.25em 0 #004AAD,
    0 0 0.5em 0 #004AAD; */
    transition: 1s;
}
#type{
    display: flex;
    align-items: center;
    gap: 2.5rem;
}
ul{
    align-items: center;
    justify-content: space-between;
    flex: 2;
    max-width: 900px;
}


#reg{
    max-width: 238px;
}
.mobile-nav-toggle{
    display: none;
}
@media (max-width: 1024px){

    #reg{
        font-size: 0.875rem;
        max-width: 250px;
    
    }
    #nav_btn{
        position: fixed;
        inset: 0 0 0 20%;
        z-index: 1000;
        flex-direction: column;
        padding: min(10vh, 5rem) 2em ;
        background: #ebecec;

        transform: translateX(100%);
        transition: transform 350ms ease-in;
    }
    #type{
        flex-direction: column;
        margin: 0;
        padding: 0;
    }
    #nav_btn[data-visible="true"]{
        transform: translateX(0%);
    }
    .mobile-nav-toggle{
        display: block;
        /* position: relative; */
        background: url("Images/menu-line.svg") no-repeat;
        border: 0;
        width: 1.3125rem;
        height: 1.3125rem;
        aspect-ratio: 1;
        top: 3.5rem;
        right: 0.55rem;
        z-index: 9999;
        padding: 0rem;
        background-color: none;
        border: none;

    }
    .mobile-nav-toggle:hover{
        border: none;
        transition: 0s;
    }
    .mobile-nav-toggle[aria-expanded="true"]{
        background: url("Images/close-fill.svg") no-repeat;
    }
    .wbackground{
        background-image: url(./Images/Desktop\ -\ 8\ \(1\).svg);
        background-size: cover;
     
    }
    
    
    
    .cont{
        max-width: 40rem;
        margin: 4rem auto ;
        padding-top: 3rem;
    }
    
    .cont p {
        margin-top: 0.2rem;
    font-size: 12px;
    line-height: 33px;

    margin-bottom: 2rem;
    }
    
    .cont h1{
    font-size: 26px;
    line-height: 44px;
    width: 24rem;
    margin-bottom: 2rem;
    }
    
    .cont button{
            padding: 1.25rem 1.5rem ;
           
        }
}

/* Main */
main{
    
    margin: 0 auto;
    width: 100%;
}
hr{
    width: 100%;
    border: 0.5px solid #FFFFFF;
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.25);
}
.company-prospect{
    max-width: 1440px;
    padding-inline: 3%;
    text-align: left;
    margin: 4rem auto;
    /* max-width: 746px; */
    margin-bottom: 100px;
    background-repeat: no-repeat;
    background-position: right;
}
.company-prospect p{
    max-width: 746px;
}


.bac1{
    position: absolute;
    top: 15rem;
    right: 15rem;
    width: 454px;
    z-index: -1;
}
.bac2{
    position: absolute;
    top: 28rem;
    right: 20rem;
    width: 280px;
    background-color: white;
    padding: 4rem;
    z-index: -1;
}

.wbackground{
    background-image: url(./Images/Desktop\ -\ 8\ \(1\).svg);
    padding-block: 2rem;
    /* height: 50vh;
    padding: 0 3rem; */
 
}



.cont{
    max-width: 80rem;
    margin: 4rem auto ;
    padding-block: 3rem;
}

.cont p {
    margin-top: 1rem;
    font-family: 'Poppins';
font-style: normal;
font-weight: 700;
font-size: 22px;
line-height: 33px;
/* identical to box height */

letter-spacing: 0.05em;

color: #FFDC60;
margin-bottom: 2rem;
}

.cont h1{
    font-family: 'Poppins';
font-style: normal;
font-weight: 700;
font-size: 56px;
line-height: 84px;
width: 48rem;

color: #FFFFFF;
margin-bottom: 2rem;
}

.cont button{

        color: #004AAD;
        background-color: #ffffff;
        padding: 1.75rem 2.5rem ;
        border: none;
        border-radius: 0.25rem;
        justify-content: center;
        align-items: center;

    
    
        font-weight: 700;
        font-size: 1rem;
        cursor: pointer;
    }
    .cont button:hover{
        color: #004AAD;
        background-color: #004AAD;
        border: 1px solid #ffffff;
        /* box-shadow: inset 0 0 0.25em 0 #004AAD,
        0 0 0.5em 0 #004AAD; */
        transition: 1s;
    }
.company-prospect > p{
    padding-bottom: 1.5rem;
    font-size: 1.25rem;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 300;
    font-size: 20px;
    line-height: 48px;
    text-align: left;
}
.leadly-more{
    background-color: #ebecec;
}
.leadly-extras{
    max-width: 1440px;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    padding-inline: 3%;
    padding-block: 5rem;
    gap: 1rem;
    
}
.leadly-extra{
    max-width: 350px;
    justify-items: flex-start;
}
.leadly-extra *{
    margin-bottom: 1.2rem;
}
.leadly-extra a{
    display: flex;
    align-items: center;
    color: #004AAD;
    gap: 5px;
}
.leadly-extra h3{
    font-size: 18px;
}

/* FOOTER */
footer{
    /* padding: 8rem 8rem; */
    padding-inline: 2%;
    max-width: 1440px;
    margin: 4rem auto;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 10px;
}
#top{
    margin-bottom: 22px;
        width: 79px;
        height: 79px;
    
}
.leader a,
.leader p {
    padding-bottom: 12px;
    color: #4E6269;
    max-width: 211px;
    
}
.leader input{
    padding: 18px;
    background: #F0F3FA;
    border: none;
    
}
footer img[src*='telegram']{
    align-items: center;
    justify-content: center;
    
}
.leader .be-social-section{
    display: flex;
    gap: 1rem;
}
.s-handles > p{
    display: none;
}



@media (max-width: 1024px){
    .company-prospect{
        margin: 2rem auto;
        max-width: 500px;
        margin-bottom: 20px;
    }

    .wbackground{
        background-image: url(./Images/Desktop\ -\ 8\ \(1\).svg);
        padding-block: 2rem;
        /* background-size: cover;
        height: 35vh; */
     
    }
    
    
    
    .cont{
        max-width: 40rem;
        margin: 4rem auto ;
        padding-top: 3rem;
    }
    
    .cont p {
        margin-top: 0.2rem;
        font-size: 12px;
        line-height: 33px;

        margin-bottom: 2rem;
    }
    
    .cont h1{
    font-size: 26px;
    line-height: 44px;
    width: 24rem;
    margin-bottom: 2rem;
    }
    
    .cont button{
            padding: 1.25rem 1.5rem ;
           
        }

        footer{
            padding: 2.5rem;
        }
        .bac1{
            position: absolute;
            top: 35rem;
            right: 15rem;
            width: 254px;
            z-index: -1;
        }
        .bac2{
            position: absolute;
            top: 42rem;
            right: 15rem;
            width: 180px;
            background-color: white;
            padding: 4rem;
            z-index: -1;
        }
}
@media screen and (max-width: 650px) {
    hr{
        display: none;
    }
    h2{
        font-size: 26px;
    }
    .company-prospect > p{
        font-size: 1.125rem;
        text-align: justify;
    }
    .company-prospect{
        margin: 2rem auto;
        max-width: 500px;
        margin-bottom: 50px;
    }
    

    /* FOOTER */
    .be-social-section a{
        display: flex;
        align-items: center;
        gap: 1rem;
    }
    .be-social-section{
        display: flex;
        flex-direction: column;
        
    }
    .s-handles > p{
        display: contents;
    }
    img[src*='Leadly']{
        width: 79px;
        height: 79px;
    }
    .be-social-section img{
        width: 30px;
        height: 30px;
    }
    
    .wbackground{
        background-image: url(./Images/Desktop\ -\ 8\ \(1\).svg);
        /* background-size: cover;
        height: 40vh; */
     padding-block: 2rem;
    }
    
    
    
    .cont{
        width: 20rem;
        margin:  auto ;
    }
    
    .cont p {
        margin-top: 0.2rem;
        font-size: 12px;
        line-height: 33px;

        margin-bottom: 2rem;
    }
    
    .cont h1{
    font-size: 20px;
    line-height: 44px;
    width: 14rem;
    margin-bottom: 1rem;
    }
    
    .cont button{
            padding: 0.35rem 0.35rem ;
            font-size: 4px;
           
        }
 
        footer{
            padding: 0.1rem 3rem;
            display: block;
            margin: 2rem auto;
            width: 100%;
            padding: auto;
        }
        .bac1{
           display: none;
        }
        .bac2{
          display: none;
        }
}